body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

h2 {
    color: #333;
}

form {
    margin-bottom: 20px;
}

form input[type="text"],
form textarea {
    width: 98%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

form input[type="file"] {
    margin-top: 5px;
    padding: 10px;
}

form input[type="submit"] {
    padding: 10px 20px;
    margin-top: 5px;
    background-color: #007bff;
    border: none;
    color: #fff;
    cursor: pointer;
}

table {
    width: 100%;
    border-collapse:separate;
    margin-top: 20px;
}

table th,
table td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

table th {
    background-color: #f5f5f5;
}

table img {
    max-width: 100px;
}

table a {
    color: #007bff;
    text-decoration: none;
    margin-right: 10px;
}

table a:hover {
    text-decoration: underline;
}

table td:last-child {
    text-align: center;
}